@model MyApp.Models.ViewModels.ProductVM

<div class="container p-4">
    <div class="container p-">
        <div class="col-4">
            <h3 style="color:burlywood">Create New Product</h3>
            <div class="col-6" style="margin-left:160%">
                <a class="btn btn-primary" asp-action="CreateUpdate" asp-controller="Product"><i class="bi bi-plus-circle-fill"></i> &nbsp; Create Category</a>
            </div>
        </div>
    </div>
</div>
<table id="mytable" class="table table-dark" style="width:100%">
    <thead>
        <tr>
            <th>Product Name</th>
            <th>Product Description</th>
            <th>Price</th>
            <th>Category</th>
        </tr>
    </thead>

   
</table>
@section scripts
{
<script src="~/js/Product.js"></script>
}


