@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<script type="text/javascript" src="https://code.jquery.com/jquery-1.9.1.min.js"></script>

    <script type="text/javascript">
// A $( document ).ready() block.
$( document ).ready(function() {
    console("hello");
    alert("saima fazal here ");
});
</script>