@model MyApp.Models.Category
<form method="post">
    <div class="p-3 mt-3">
        <div class="row pb-3">
            <h2 class="text-primary">Edit Create</h2>
        </div>
        <input type="hidden" asp-for="Id" />
        <div class="row mb-3">
            <label asp-for="Name">Name</label>
            <input disabled asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="row mb-3">
            <label asp-for="DisplayOrder">Display Order</label>
            <input disabled asp-for="DisplayOrder" class="form-control" />
            <span asp-validation-for="DisplayOrder" class="text-danger"></span>
        </div>
        <button class="btn btn-danger" type="submit">Delete </button>
    </div>
    <a asp-action="Index" asp-controller="Category">Back To List</a>

</form>
@* clientside validation *@
@section scripts
{
    <partial name="_ValidationScriptsPartial" ; />
}



